.todo-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 1px solid blue;
}
.todo-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  /* border: 1px solid black; */
  border: 1px solid red;
}
.todo-title {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  height: 180px;
  /* border: 1px solid blue; */
}
.todo-title h3 {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  /* border: 1px solid red; */
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0.25rem 0.5rem;
  /* border: 1px solid red; */
}
.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0;
  border: 1px solid blue;
}
.todo-input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  margin-right: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  font-size: 1.1rem;
}
.todo-input::placeholder {
  font-size: 1rem;
}
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.5rem; */
  padding: 0.25rem;
  margin-right: 0.5rem;
  background-color: transparent;
  border-color: transparent;
  color: #000;
  font-weight: bold;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.clear-btn {
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: rgba(211, 211, 211, 0.7);
  border-color: transparent;
  border-radius: 0.25rem;
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  cursor: pointer;
}
.clear-btn:hover {
  background-color: lightgray;
}
.todo-empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}
.todo-empty-message p {
  padding: 0.5rem;
}
@media screen and (max-width: 479px) {
  .todo-section {
    min-height: 100vh;
  }
  .todo-container {
    /* padding: 0; */
    margin: 0.25rem;
    /* border: 1px solid blue; */
  }
  .todo-title {
    min-height: 10vh;
    height: auto;
    /* margin: 0 0.25rem; */
    margin: 0;
    /* border: 1px solid red; */
  }
  .todo-title h3 {
    font-size: 1.2rem;
  }

  .todo-form {
    margin: 0.25rem 0;
  }
  .form-control {
    padding: 0.25rem 0;
  }
  .todo-input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    /* border: 1px solid red; */
  }
  .todo-input::placeholder {
    font-size: 0.9rem;
  }
  .submit-btn {
    padding: 0.25rem;
    /* margin: 0; */
    margin-right: 0.25rem;
    font-size: 0.95rem;
    /* border: 1px solid red; */
  }
  .clear-btn {
    margin: 0.25rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    /* border: 1px solid red; */
  }
  .todo-empty-message {
    /* margin: 0.25rem; */
    margin: 0;
    font-size: 1.1rem;
    /* border: 1px solid blue; */
  }
  .todo-empty-message p {
    padding: 0.5rem;
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .todo-section {
    min-height: 100vh;
  }
  .todo-container {
    margin: 0.25rem;
    padding: 0.5rem;
    /* padding: 0.25rem 0.5rem; */
    /* border: 1px solid red; */
  }
  .todo-title {
    min-height: 10vh;
    height: auto;
    /* margin: 0 0.25rem; */
    margin: 0;
  }
  .todo-title h3 {
    font-size: 1.25rem;
  }
  .todo-form {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0.25rem 0.25rem 0.5rem; */
    /* margin: 0; */
    margin: 0.25rem 0;
    /* border: 1px solid red; */
  }
  .form-control {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    padding: 0.25rem 0;
  }
  .todo-input {
    /* flex: 1; */
    padding: 0.5rem;
    margin-right: 0.5rem;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    /* border-radius: 0.25rem; */
    font-size: 1.05rem;
  }
  .todo-input::placeholder {
    font-size: 0.95rem;
  }
  .submit-btn {
    padding: 0.25rem;
    /* margin: 0; */
    margin-right: 0.25rem;
    font-size: 0.95rem;
  }
  .clear-btn {
    margin: 0.25rem 0;
    padding: 0.5rem;
    font-size: 1.05rem;
    /* border: 1px solid red; */
  }
  .todo-empty-message {
    /* margin: 0.25rem; */
    margin: 0;
    font-size: 1.15rem;
    /* border: 1px solid blue; */
  }
  .todo-empty-message p {
    padding: 0.5rem;
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 768px) {
  .todo-container {
    padding: 0.25rem;
    /* border: 1px solid red; */
  }
  .todo-title {
    margin: 0.25rem;
    /* border: 1px solid blue; */
  }
  .todo-title h3 {
    font-size: 2rem;
  }
  .todo-form {
    /* border: 1px solid blue; */
    margin: 0.25rem 0.25rem 0.5rem;
  }
  .todo-input {
    /* padding: 0.5rem; */
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    font-size: 1.1rem;
    /* border: 1px solid blue; */
  }
  .todo-input::placeholder {
    font-size: 1rem;
  }
  .submit-btn {
    font-size: 1.1rem;
  }
  .clear-btn {
    margin: 0.25rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    /* border: 1px solid red; */
  }
  .todo-empty-message {
    margin: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 1024px) {
  .todo-container {
    padding: 0.5rem;
    /* border: 1px solid red; */
  }
  .todo-title {
    margin: 0.25rem 0.5rem;
    border: 1px solid blue;
  }
  .todo-title h3 {
    font-size: 2.05rem;
  }
  .todo-form {
    margin: 0.25rem 0.5rem 0.5rem;
  }
  .todo-input {
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  .todo-input::placeholder {
    font-size: 1.05rem;
  }
  .submit-btn {
    font-size: 1.15rem;
  }
  .clear-btn {
    margin: 0.25rem 0.5rem;
    padding: 0.5rem;
    font-size: 1.15rem;
    /* border: 1px solid red; */
  }
  .todo-empty-message {
    margin: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.45rem;
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 1280px) {
  .todo-container {
    padding: 0.75rem;
    /* border: 1px solid red; */
  }
  .todo-title {
    margin: 0.5rem 0.75rem;
    /* border: 1px solid blue; */
  }
  .todo-title h3 {
    font-size: 2.1rem;
  }
  .todo-form {
    margin: 0.25rem 0.75rem 0.75rem;
  }
  .todo-input {
    /* padding: 0.5rem; */
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    /* border: 1px solid red; */
  }
  .todo-input::placeholder {
    font-size: 1.1rem;
  }
  .submit-btn {
    font-size: 1.2rem;
  }
  .clear-btn {
    margin: 0.25rem 0.75rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    /* border: 1px solid red; */
  }
  .todo-empty-message {
    margin: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 1440px) {
  .todo-container {
    padding: 1rem;
    /* border: 1px solid red; */
  }
  .todo-title {
    margin: 0.75rem 1rem;

    /* border: 1px solid blue; */
  }
  .todo-title h3 {
    font-size: 2.15rem;
  }
  .todo-form {
    margin: 0.25rem 1rem 1rem;
  }
  .todo-input {
    /* padding: 0.5rem; */
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    /* border: 1px solid red; */
  }
  .todo-input::placeholder {
    font-size: 1.15rem;
  }
  .submit-btn {
    font-size: 1.25rem;
  }
  .clear-btn {
    margin: 0.25rem 1rem;
    padding: 0.75rem;
    font-size: 1.25rem;
    /* border: 1px solid red; */
  }
  .todo-empty-message {
    margin: 0.25rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.55rem;
    /* border: 1px solid red; */
  }
}
